* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --darkOne: #191919;
    --lightOne: #E6E6E6;
    --bgc: #F4A950;
    --redColor: rgb(224, 1, 1);
    --mainFont: sans-serif;
}

body {
    background-color: var(--lightOne);
    color: var(--darkOne);
    font-family: var(--mainFont);
    overflow-x: hidden;
}


nav {
    display: flex;
    background-color: var(--darkOne);
    color: var(--lightOne);
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    min-height: 7.5rem;
}

.margin {
    padding: 0rem 3.5rem 0rem 3.5rem;
}


.logo {
    font-size: 30px;
    color: var(--bgc);
    font-family: fantasy;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 3.5rem;
}

nav ul li a {
    color: var(--lightOne);
    text-decoration: none;
    font-family: var(--mainFont);
    font-size: 25px;
    font-weight: 100;
}

.platform {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28rem;
    justify-content: center;
    align-items: center;
    background-image: url(./Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;

}

.leftContent {
    /* display: grid; */
    width: 23.5rem;
    place-items: center;
} 

.leftContent h1 {
    padding: 0rem 0rem 0rem 0rem;
    line-height: 50px;
}

.leftContent p {
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
}

p {
    font-family: sans-serif;
}

.rightContent img {
    position: relative;
}

.leftContent button {
    margin-top: 2rem;
    font-size: 25px;
    font-weight: 500;
}

button {
    background-color: var(--darkOne);
    color: var(--lightOne);
    font-size: 16px;
    border-radius: 5px;
    padding: 1rem 3.5rem;
    border: 0;
    outline: none;
    cursor: pointer;
}



 /*start of subContent section */

 .subContent {
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: -7.5rem;
    align-items: center;
    text-align: center;
}

.subContent h1 {
    line-height: 50px;
    padding-bottom: 2rem;
}

.subContent .pp {
    font-size: 25px;
    /* width: 60rem; */
}

.flex {
    margin: 3.5rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {

    width: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem
}
 /*start of subContent section */
/* 
 cards design */
 .cards {
    display: flex;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
 }

 .card h2 {
    padding: 1rem 0rem;
 }

 /* 
 end of cards design */

 /*start of view gallery section */

 .viewGal {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
 }

 .viewGal p {
    padding: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    
 }

 .viewGal button {
    display: grid;
    place-self: center;
    font-size: 20px;
    font-weight: 600;
    width: 25rem;
 }

  /*end of view gallery section */

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: var(--darkOne);
    color: var(--lightOne);
}

.date {
    color: var(--lightOne);
}

footer .copy {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightOne);
    text-align: center;
}

hr {
    width: 100vw;

}

.footerContent {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: 35% 15% 15% 15% 15%;
    justify-content: center;
    align-items: center;
}

.section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.hh {
    padding-bottom: 1.5rem;
}

.section  p {
    font-weight: 500;
}

.section ul {
    list-style: none;
}

.section ul li {
    padding-top: 1.5rem;
}

.section ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--lightOne);
    
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.section input {
    border: 0;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    height: 2.5rem;
    width: 18rem;
    text-indent: 10px;
    font-weight: 500;
    font-size: 16px;
}
.section button {
    padding: 0rem;
    border: 0;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    margin: 0rem;
    width: 7.5rem;
    height: 2.5rem;
    font-weight: 600;
    background-color: var(--redColor);
    text-align: center;
    justify-content: center;
    align-items: center;
    text-indent: 0px;
}
